body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16pt;
    /*noinspection CssInvalidFunction*/
    --bg-color: rgb(var(--bg-color-rgb));
    /*noinspection CssInvalidFunction*/
    --front-color: rgb(var(--front-color-rgb));
    background-color: var(--bg-color);
    color: var(--front-color);
}

body.black-and-white {
    --bg-color-rgb: 0, 0, 0;
    --front-color-rgb: 255, 255, 255;
    --button-bg-color: #999;
    --button-active-bg-color: #666;
}

body.white-and-black {
    --bg-color-rgb: 255, 255, 255;
    --front-color-rgb: 0, 0, 0;
    --button-bg-color: #ddd;
    --button-active-bg-color: #aaa;
}

*:focus {
    outline: none;
}

/* @media only screen and (min-resolution: 120dpi) */

@media screen and (max-width: 999px) {
    .note-entry {
        flex-direction: column;
    }
}

@media screen and (min-width: 1000px) {
    .finished-section {
        order: 1;
    }

    .note-section {
        order: 2;
    }

    .edit-section {
        order: 3;
    }
}

section {
    margin-top: 1em;
}

.todo-list {

}

.flex-container {
    display: flex;
    margin: 1em;
}

.button,
select,
button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: var(--button-bg-color);
    border: 0;
    border-radius: 2px;
    letter-spacing: .5px;
    line-height: 2em;
    font-size: 14pt;
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 2px 2px 0 rgba(var(--front-color-rgb), 0.14), 0 1px 5px 0 rgba(var(--front-color-rgb), 0.12), 0 3px 1px -2px rgba(var(--front-color-rgb), 0.2);
}

button {
    border: 1px solid var(--front-color);
}

button:active {
    background-color: var(--button-active-bg-color);
}

select {
    -webkit-appearance: button;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    background-color: var(--button-active-bg-color);
}

input[type="radio"]:checked + label {
    cursor: default;
}

input[type="radio"].button,
input[type="checkbox"].button,
.button-group input[type="radio"],
.button-group input[type="checkbox"] {
    display: none;
}

input:checked + label .icon-checked,
input + label .icon-unchecked {
    display: inline;
}

input:checked + label .icon-unchecked,
input + label .icon-checked {
    display: none;
}

h1 {
    font-weight: bold;
}

/* Forms Stuff */

.form-group {
    display: flex;
    flex-direction: row;
}

.form-group label {
    flex: none;
    display: block;
    width: 150px;
    font-weight: bold;
    font-size: 1em;
}
.form-group label.right-inline {
    text-align: right;
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
}

.form-group .input-control {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
    border: 1px solid var(--front-color);
}

button {
    padding: 5px 15px;
    margin: 5px;
    min-width: 100px
}

@media (max-width: 999px) {
    .form-group {
        flex-direction: column;
    }
    .form-group .input-control {
        margin-top: 2px;
    }
    .form-group label.right-inline {
        text-align: left;
        padding-right: 0;
        padding-left: 0;
    }
}