body {
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: var(--bg-color, white);
    color: var(--font-color, black);
}

body.black-and-white {
    --bg-color: black;
    --font-color: white;
    --button-bg-color: #999;
    --button-active-bg-color: #666;
}

body.white-and-black {
    --bg-color: white;
    --font-color: black;
    --button-bg-color: #ddd;
    --button-active-bg-color: #aaa;
}

section {
    margin-top: 1em;
}

.todo-list {

}


.button,
select,
button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: var(--button-bg-color);
    border: 0;
    border-radius: 2px;
    letter-spacing: .5px;
    line-height: 2em;
    height: 2em;
    font-size: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

select {
    -webkit-appearance: button;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    background-color: var(--button-active-bg-color);
}

input[type="radio"]:checked + label {
    cursor: default;
}

input[type="radio"].button,
input[type="checkbox"].button,
.button-group input[type="radio"],
.button-group input[type="checkbox"] {
    display: none;
}

